<%if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<table>
	<tbody>
		<% cache ['store', Product.latest] do %>
		<% @products.each do |product| %>
		<% cache ['entry', product] do %>
			<tr class="store-index-list">
				<td><%= image_tag("#{product.image_url}") %></td>
				<td><h3><%= product.title %></h3><br / >
				<%= sanitize(product.description) %></td>
				<td class='price'><%= number_to_currency(product.price) %></td>
				<td><%= button_to 'Add to Cart', line_items_path(product_id: product) %></td>
			</tr>
		<% end %>
		<% end %>
		<% end %>
	</tbody>
</table>
